<div class="image">
    <div class="page-content">
        <div class="content">
            <div class="box names">
                <h4> Avishag And Netanel </h4>
            </div>
            <div class="box timer">
                <!-- <span id="days"> {{daysToDday}} </span>Days
                <span id="hours"> {{hoursToDday}} </span>Hrs 
                <span id="minutes"> {{minutesToDday}} </span>Min
                <span id="seconds"> {{secondsToDday}} </span>S -->
                <app-countdown></app-countdown>
            </div>
        </div>
        <div class="ninja-row">
            <app-ninja></app-ninja>
        </div>
    </div>
</div>
<!-- *ngIf="loaded" -->